# /etc/systemd/system/wise_pi.service

[Unit]
Description=Wise-Pi Quote Display
After=network.target

[Service]
Type=simple
User=steve
WorkingDirectory=/home/steve/wise-pi/
ExecStart=/home/steve/wise-pi/venv/bin/python /home/steve/wise-pi/quote_display.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
Environment="PYTHONUNBUFFERED=1"
Environment="DISPLAY=:0"

[Install]
WantedBy=multi-user.target

